- content_for :title do
  Wildlife

%nav.animals
  %ul
    %li
      %a{:href => "/animal"}
        %img{:src => "/img/lion-icon.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Lion
        %small Simba
    %li
      %a{:href => "/animal"}
        %img{:src => "/img/lion-icon.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Rhino
        %small Simba
    %li
      %a{:href => "/animal"}
        %img{:src => "/img/lion-icon.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Hippopotamus
        %small Simba
    %li
      %a{:href => "/animal"}
        %img{:src => "/img/lion-icon.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Buffalo
        %small Simba
    %li
      %a{:href => "/animal"}
        %img{:src => "/img/lion-icon.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Secretary Bird
        %small Simba
    %li
      %a{:href => "/animal"}
        %img{:src => "/img/lion-icon.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Cheetah
        %small Simba
        
  