- content_for :title do
  Wildlife

%nav.animals
  %ul
    %li
      %a{:href => "/animal-rhino"}
        %img{:src => "/img/lion-icon-2x1.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Rhino
        %small KIFARU
    %li
      %a{:href => "/animal-buffalo"}
        %img{:src => "/img/lion-icon-2x1.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Cape Buffalo
        %small NYATI
    %li
      %a{:href => "/animal-ostrich"}
        %img{:src => "/img/lion-icon-2x1.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Common Ostrich
        %small Simba
    %li
      %a{:href => "/animal-egrit"}
        %img{:src => "/img/lion-icon-2x1.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Cattle Egrit
        %small Simba
    %li
      %a{:href => "/animal"}
        %img{:src => "/img/lion-icon-2x1.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Secretary Bird
        %small Simba
    %li
      %a{:href => "/animal"}
        %img{:src => "/img/lion-icon-2x1.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Cheetah
        %small Simba
      
  