- content_for :title do
  Birds

%nav.animals
  %ul
    %li.bird
      %a{:href => "/animal-ostrich"}
        %img{:src => "/img/lion-icon-2x1.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Common Ostrich
        %small Simba
    %li.bird
      %a{:href => "/animal-egrit"}
        %img{:src => "/img/lion-icon-2x1.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Cattle Egrit
        %small Simba
    %li.bird
      %a{:href => "/animal"}
        %img{:src => "/img/lion-icon-2x1.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Secretary Bird
        %small Simba
    %li.bird
      %a{:href => "/animal-ostrich"}
        %img{:src => "/img/lion-icon-2x1.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Common Ostrich
        %small Simba
    %li.bird
      %a{:href => "/animal-egrit"}
        %img{:src => "/img/lion-icon-2x1.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Cattle Egrit
        %small Simba
    %li.bird
      %a{:href => "/animal"}
        %img{:src => "/img/lion-icon-2x1.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Secretary Bird
        %small Simba
    %li.bird
      %a{:href => "/animal-ostrich"}
        %img{:src => "/img/lion-icon-2x1.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Common Ostrich
        %small Simba
    %li.bird
      %a{:href => "/animal-egrit"}
        %img{:src => "/img/lion-icon-2x1.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Cattle Egrit
        %small Simba
    %li.bird
      %a{:href => "/animal"}
        %img{:src => "/img/lion-icon-2x1.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Secretary Bird
        %small Simba
    