- content_for :title do
  Matira Bush Camp

.img-slider
  %ul
    %li.ac-2x1
    %li.ac-2x1
    %li.ac-2x1
%nav.slider-nav
  %em.on •
  %em •
  %em •
.controls-container
  .controls
    %button.btn.btn-primary{:href => "#"}
      %i.icon-phone
      Call
    %button.btn.btn-success{:href => "#"}
      %i.icon-envelope
      Email
    %button.btn.btn-info{:href => "#"}
      %i.icon-globe
      Website
.body-container
  %h2 Matira Bush Camp
  %p Located close to the confluence of the Mara and Talek Rives, Matira Bush Camp is right in the heart of the Maasai Mara and on the door. Only a few steps outside of the camp you will experience antelopes, elephants, lions, leopards and the legendary wildebeest migration close up. Matira specialize in mobile bush camps in pure wilderness.

  %p Accommodation: Tented Camp
  %p Sleeps: 7 tents sleep 14
  %p Activities:
  %ul
    %li Walking Safaris
    %li Bush Picnics
    %li Cultural Visits

:javascript
  $(function() {
    var bullets = $('.slider-nav em');
    new Swipe($('.img-slider')[0], {
      callback: function(e, pos) {
        var i = bullets.length;
        while(i--) {
          bullets[i].className = '';
        }

        bullets[pos].className = 'on';
      }
    });
  });