- content_for :title do
  Places to Stay

%nav.welcome
  %ul
    %li
      %a{:href => "/places"}
        %img{:src => "/img/camp.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Budget
    %li
      %a{:href => "/places"}
        %img{:src => "/img/camp.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Mid-Range
    %li
      %a{:href => "/places"}
        %img{:src => "/img/camp.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Luxury
  