- content_for :title do
  Lantern Hotel

.controls-container
  %button.btn.btn-success{:href => "#"}
    %i.icon-bell.icon-white
    Call
  %button.btn.btn-info{:href => "#"}
    %i.icon-share.icon-white
    Website
.images-container
  .content-img
    %img hto
.body-container
  %p An award winning establishment, we have lanterns on every table. Fact.