- content_for :title do
  Places to Stay

%ul.adverts
  %li.ac-2x1
    %a{:href => "/place"}
      %h2.advert-title Matira Bush Camp
      .advert-text
        %i.icon-chevron-right.icon-white.list-arrow
        %p Specializing in mobile bush camps in pure wilderness. Only a few steps outside of the camp you will experience the Mara close up.
  %li.ac-2x1
    %a{:href => "/place"}
      %h2.advert-title Kimana Camp
      .advert-text
        %i.icon-chevron-right.icon-white.list-arrow
        %p A small tented camp situated on the banks of the Sekanani River. Our wide array of indigenous trees keeps the camp cool and fresh.
  %li.ac-2x1
    %a{:href => "/place"}
      %h2.advert-title Mara Sopa Lodge
      .advert-text
        %i.icon-chevron-right.icon-white.list-arrow
        %p One of the first lodges to be built in the Maasai Mara and done so in an authentically ethnic design and surrounded by a rich landscape.