.advert-container.ac-2x1
  %h2.advert-title Lantern Hotel
  .advert-text
    %i.icon-chevron-right.icon-white.list-arrow
    %p An award winning establishment, we have lanterns on every table. Fact.
.advert-container.ac-2x1
  %h2.advert-title Lampshade Hotel
  .advert-text
    %i.icon-chevron-right.icon-white.list-arrow
    %p We hate the lantern hotel. Come stay with us instead. We have many lampshades in different colours. They are super-awesome.
.advert-container.ac-2x1
  %h2.advert-title Lightbulb Hotel
  .advert-text
    %i.icon-chevron-right.icon-white.list-arrow
    %p Celebrating bright sparks since 1915. Guaranteed to see a lion, or your money back. Unless you see a secretary bird, in which case you get no money at all.
.advert-container.ac-2x1
  %h2.advert-title Candle Hotel
  .advert-text
    %i.icon-chevron-right.icon-white.list-arrow
    %p Can't afford the other places? Come and stay with us. Electricity optional.