- content_for :title do
  Jambo

%nav.welcome
  %ul
    %li
      %a{:href => "/info"}
        %img{:src => "/img/mara-icon.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Maasai Mara
    %li
      %a{:href => "/people"}
        %img{:src => "/img/mara-icon.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Maasai People
    %li
      %a{:href => "/info"}
        %img{:src => "/img/mara-icon.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 The Great Migration
    %li
      %a{:href => "/info"}
        %img{:src => "/img/mara-icon.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Best Times To Go
    %li
      %a{:href => "/info"}
        %img{:src => "/img/mara-icon.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Park Fees
    %li
      %a{:href => "/info"}
        %img{:src => "/img/mara-icon.jpg"}
        %i.icon-chevron-right.icon-white.list-arrow
        %h3 Activities
        
  