body {
  width: 320px;
  height: 480px;
  padding: 0;
  
}

.app {
  height: 100%;
  width: 100%;
  background-color: #FAFAFA;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.navbar-fixed-top {
  margin: 0;
}

.form-search {
  padding: 10px 5px;
  margin: 0;
  text-align: center;
}

.form-search .input-medium{
  width: 70%;
}

.content {
  overflow: auto;
  width: 100%;
}

.content nav ul {
  list-style: none;
  margin: 0;
}

.content nav ul li {
  width: 96%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1%;
  padding-right: 1%;
  margin: 0 1%;
  height: 45px;
  border-top: 1px solid #EFEFEF;
  color: #444;
}

.content nav ul li a {
  color: #444;
}

.content nav ul li a:hover {
  color: #afafaf;
  text-decoration: none;
}

.content nav ul li a .list-title {
  line-height: 45px;
}

nav.adverts ul li {
  width: 98%;
  background-repeat: no-repeat;
  margin: 1%;
  min-height: 160px;
  border-top: none;
  padding: 0;
  position:relative;
}

nav.adverts ul li a {
  color: #efefef;
  height: 100%;
  display: block;
}

nav ul li a img {
  float: left;
  padding-right: 10px;
  height: 45px;
}

nav ul li a h3 {
  font-size: 16px;
}

nav ul li a small {
  display: block;
}

nav .list-arrow {
  margin-top: 15px;
}

nav.welcome ul li a h3 {
  line-height: 48px;
}

.ac-2x1 {
  background-image: url('../img/advert-2x1.jpg');
  height: 160px;
}

.advert-title,
.advert-text {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  padding: 5px;
}

.advert-title {
  top: 0;
  display: inline-block;
  font-size: 18px;
  line-height: 1.5em;
}

.advert-text {
  bottom: 0;
  padding-right: 10px;
}

.advert-text p {
  margin: 0;
}

.list-arrow {
  float: right;
  margin-top: 4px;
}

.controls-container {
  text-align: center;
  margin: 5px auto;
  width: 100%;
}

.controls-container .controls {
  margin: 0 5px;
  padding: 10px 0;
  background-color: #f0f0f0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.controls-container .btn {
  margin: 0 5px;
}

.img-slider {
  width: 100%;
}

.img-slider ul {
  margin: 0;
}

.img-slider ul li {
  display: none;
}

.img-slider ul li:first-child {
  display: inherit;
}

.img-slider ul li>div {
  margin: 5px;
}

.slider-nav {
  text-align: center;
  font-size: 2em;
  color: #ADBECC;
}

.slider-nav .on {
  color: black;
}

.body-container {
  padding: 5px;
}

.body-container h2 {
  border-bottom: 1px solid #EEE;
  margin-bottom: 15px;
}

.body-container h2 small{
  float: right;
}


.animal-2x1 {
  background-image: url('../img/lion-2x1.jpg');
  height: 160px;
}

.info-2x1 {
  background-image: url('../img/mara-2x1.jpg');
  height: 160px;
}