body {
  width: 320px;
  height: 480px;
  padding: 0;
  
}

.app {
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.navbar-fixed-top {
  margin: 0;
}

.form-search {
  padding: 5px 0;
  margin: 0 auto;
}

.container {
  overflow: auto;
  width: 100%;
}

.container ul {
  list-style: none;
  margin: 0;
}

.container ul li {
  width: 98%;
  background-repeat: no-repeat;
  margin: 1%;
  position: relative;
  color: #efefef;
  display: block;
}

.container ul li a {
  color: inherit;
}

.container ul li:hover {
  color: #afafaf;
}

.adverts {
  color: white;
}

.ac-2x1 {
  background-image: url('../img/advert-2x1.jpg');
  height: 160px;
}

.advert-title,
.advert-text {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  padding: 5px;
}

.advert-title {
  top: 0;
  display: inline-block;
  font-size: 18px;
  line-height: 1.5em;
}

.advert-text {
  bottom: 0;
  padding-right: 10px;
}

.advert-text p {
  margin: 0;
}

.list-arrow {
  float: right;
  margin-top: 4px;
}

.controls-container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.controls-container .controls {
  margin: 0 5px;
  padding: 10px 0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.controls-container .btn {
  margin: 0 5px;
}

.img-slider {
  width: 98%;
  margin: 1%;
}

.img-slider ul {
  margin: 0;
}

.img-slider ul li {
  display: none;
}

.img-slider ul li:first-child {
  display: inherit;
}

.slider-nav {
  text-align: center;
  font-size: 2em;
  color: #ADBECC;
}

.slider-nav .on {
  color: black;
}

.body-container {
  padding: 5px;
}

ul.animals li {
  width: 96%;
  margin: 2%;
  border-top: 1px solid #EFEFEF;
  color: #444;
}

ul.animals li a img {
  float: left;
  padding: 5px 10px 5px 5px;
  height: 40px;
}

ul.animals .list-arrow {
  margin-top: 12px;
}